html{
  padding:0;
  width: 100%;
}
body {   margin: 0;
	padding: 0;
	width: 100%;
	background-color : rgb(242,242,242);
}
#topbar {
	background-color :black;
height:30px;
}
.topbar img {
  border: 0;
  height: 20px;
  width: 20px;
}

.topbar li {
	display: inline-block;
	font-size: 14px; 
}
.topbar li a {
	color: white;
	padding: 9px 10px 7px 10px;
 border-radius: 4px 4px 0 0;
	text-decoration: none;
-webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
}

.topbar li a:hover {
	background-color: rgb(61,92,92);
 }
 #freespace{   background-color :rgb(128,128,128);
   
margin-top: 0px;
padding: 3px;
 }
 #grossarchive{
	float: left;
	padding: 0;
	position: relative;
	 }
#grossarchive img {
  height: 100px;
  width: 300px;
  border:0;
}
 #text1{
 	  position: absolute;
    top: 8px;
    right: 16px;
    font-size: 14px;
    text-decoration: none;
    color:black;
 }
 #text2{
 	  position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 12px;
    text-decoration: none;
    color:black;
 }
 #search{

 	margin: 20px;
 text-align:center;


 }
 .button {
    background-color:transparent; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
    cursor: pointer;
   position: relative;
    bottom: 1px;
    right: 100px;

}

.search {
    background-color: rgb(31,64,96); 
    color: white;
    border: 2px solid rgb(0,102,153);


}

.search:hover {
    background-color: #4CAF50;
    color: white;
}
input[type=text], select {
	
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
   width: 300px;
   font-size: 18px;
   font-family:cambria;
   position: relative;
   right: 90px;
   }
   #telephone{
   	float: right;
   	position: relative;
   	bottom:80px;
   	font-size: 18px;
   	font-family: sans-serif;
   }
   #telephone a {
   	text-decoration: none;
   }
   .group:before,
   .group:after {
    content :"";
     display:table;
   }
   .group:after {
    clear:both;
   }
   .group {
    zoom: 1;
   }
   .sidebar {
    margin: 0;
    padding: 0;
   }

   /* main bar css */

.main-bar{
margin-top:-70px;
position: absolute;
 width: 100%;
 background-color:  blue;
  overflow: auto;
  clear: both;
}
.main-bar a{
 float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 13.5%;
    text-align: center;
    margin-right: 1px;   
 background-color: blue;
}

.main-bar a:hover{
  background-color: orange;
}

   /* end of main bar css */