body {   margin: 0;
	padding: 0;
	 max width:auto  ;
   max height: auto;
	background-color : rgb(242,242,242);
}
#topbar {
	background-color :black;
height:30px;
}
ul#topmenu {
	padding: 0 0 15px 0;
}
ul#topmenu li {
	display: inline-block;
	font-size: 14px; 
}
ul#topmenu li a {
	color: white;
	padding: 9px 10px 7px 10px;
 border-radius: 4px 4px 0 0;
	text-decoration: none;
-webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
}

ul#topmenu li a:hover {
	background-color: rgb(61,92,92);
 }
 #freespace{   background-color :rgb(128,128,128);
   
margin-top: 0px;
padding: 3px;
 }
 #grossarchive{
	float: left;
	padding: 0;
	position: absolute;
	 }

 #text1{
 	  position: absolute;
    top: 8px;
    right: 16px;
    font-size: 14px;
    text-decoration: none;
    color:black;
 }
 #text2{
 	  position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 12px;
    text-decoration: none;
    color:black;
 }
 #search{
 	margin: 20px;
 text-align:center;


 }
 .button {
    background-color:transparent; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
   position: relative;
    bottom: 1px;
    right: 10px;

}

.search {
    background-color: rgb(31,64,96); 
    color: white;
    border: 2px solid rgb(0,102,153);


}

.search:hover {
    background-color: #4CAF50;
    color: white;
}
input[type=text1], select {
	
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
   width: 300px;
   font-size: 18px;
   font-family:cambria;
   }
   #telephone{
   	float: right;
   	position: relative;
   	bottom:80px;
   	font-size: 18px;
   	font-family: sans-serif;
   }
   #telephone a {
   	text-decoration: none;
   }
#bar{
padding: 5px 0 0 0;
position: absolute;
}
ul#fbar{
  padding:0;
}
ul#fbar li{
display: inline;
font-size: 14px;

 }  
ul#fbar li a{
  background-color: blue;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
ul#fbar li a:hover{
  background-color: orange;
}
li:last-child:after{
  border: 4px solid  rgb(0,102,255);
position: absolute;
  content:"";
  left: 100%;

  border-width: 10px 30px 10px 30px;
  bottom:7px;
  margin-left: 5px;
}
